:root{
    --font-family-base: 'Roboto' , sans-serif;
    --font-family-title: 'Zilla Slab', serif;
}
@media screen and (max-width: 400px) {
    html{
        font-size: 13px;
    }
}
body#paginaprincipal{
  font-family: var(--font-family-base);
}
    h1{
        color:brown;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }
    h2{
        font-size: 20px;
        font-weight: lighter;
        text-align: center;
    }
    h3{
        font-size: 20px;
        font-family: var(--font-family-title);
        font-weight: normal;
    
    }
    footer{
        
        font-family: var(--font-family-title);
        text-align: center;
    }
body#clases{
    font-family: var(--font-family-base);
}
    h1{
        color:brown;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }
    li{
       
        font-size:20px;
    }
    p{
        font-family: var(--font-family-title);
        text-align: justify;
        font-size: 16px;
        margin-left: 60px;
        margin-right: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    img{
        display: block;
        margin: auto;
    }
  
