:root{
    --font-family-base: 'Roboto' , sans-serif;
    --font-family-title: 'Zilla Slab', serif;
}
@media screen and (max-width: 400px) {
    html{
        font-size: 13px;
    }
}
body#paginaprincipal{
  font-family: var(--font-family-base);
  padding: 90px 20px 0px;
}
  
.header {
    background-color: brown;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width:1350px;
    margin: 0 auto;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
  }

  .nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
  }
  
  .nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    width: max-content;
  }

  .nav .nav-menu .nav-menu-item ul{
      display: flex;
      flex-direction: column;
      list-style: none;
      position: absolute;
      background-color: brown;
      display: none;
  }
  
  .nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
  }
  .nav-menu-link .nav-link{
      text-align: center;
  }
  
  .nav-menu-link:hover,
  .nav-menu-link_active {
    background-color: rgb(90, 47, 47);
    transition: 0.5s;
  }

  .header .nav .nav-menu .nav-menu-item:hover > ul{
      display: block;
  }
    
.main {
        margin-left: 200px;
}
    h1{
        color:brown;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }
    h2{
        font-size: 20px;
        font-weight: lighter;
        text-align: center;
    }
    h3{
        font-size: 20px;
        font-family: var(--font-family-title);
        font-weight: normal;
    
    }  
    footer{
        
        font-family: var(--font-family-title);
        text-align: center;
    }


body#clases{
    font-family: var(--font-family-base);
}

.container {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(10,1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Barra-navegación Barra-navegación Barra-navegación Barra-navegación Barra-navegación"
      ". Título Título Título ."
      "Tema-1 Tema-1 Fotos1 Fotos1 Datos"
      "Tema-1 Tema-1 Fotos1 Fotos1 Datos"
      "Tema-2 Tema-2 Fotos2 Fotos2 Datos"
      "Tema-2 Tema-2 Fotos2 Fotos2 Datos"
      "Tema-3 Tema-3 Fotos3 Fotos3 Datos"
      "Tema-3 Tema-3 Fotos3 Fotos3 Datos"
      "Tema-4 Tema-4 Fotos4 Fotos4 Datos"
      "Tema-4 Tema-4 Fotos4 Fotos4 Datos";
    margin: 15px;
    height: fit-content;
  }
  
  .Tema-1 { grid-area: Tema-1; 
    background-color:white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    height: fit-content;
    }

  
  .Tema-2 { grid-area: Tema-2; 
    background-color:white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    height: fit-content;}
  
  .Tema-3 { grid-area: Tema-3; 
    background-color:white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    height: fit-content;}
  
  .Barra-navegación { grid-area: Barra-navegación; 
    background-color: brown;
    height: fit-content;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;}
  
  .Título { grid-area: Título; 
    text-align: center;
    align-self: center;
    height: fit-content;
    margin: 10px;
}

  
  .Tema-4 { grid-area: Tema-4; 
    background-color:white;
    margin: auto;
    padding: 5px;
    border-radius: 5px;}
  
  .Datos { grid-area: Datos; 
    background-color:white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    height: fit-content;}
  
  .Fotos1 { grid-area: Fotos1; 
    background-color:white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    height: fit-content;}
  
  .Fotos2 { grid-area: Fotos2; 
    background-color:white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    height: fit-content;}
  
  .Fotos3 { grid-area: Fotos3; 
    background-color:white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    height: fit-content;}
  
  .Fotos4 { grid-area: Fotos4; 
    background-color:white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    height: fit-content;}
  


#imagenpresentacion{
    max-width: 400px;
    align-content: center;
}

a.button {
    text-decoration: none;
    color: #EAD3C7;

}
    h1{
        color:brown;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }
    li{
       
        font-size:20px;
    }
    p{
        font-family: var(--font-family-title);
        text-align: left;
        font-size: 16px;
        margin-left: 60px;
        margin-right: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
.container img{
       inline-size: 100%;
}
    
body{
    background-image: url('..//Imágenes/fondobitacora.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
