:root{
    --font-family-base: 'Roboto' , sans-serif;
    --font-family-title: 'Zilla Slab', serif;
}
@media screen and (max-width: 400px) {
    html{
        font-size: 13px;
    }
}
body#paginaprincipal{
  font-family: var(--font-family-base);
  padding: 90px 20px 0px;
}
  
.header {
    background-color: brown;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 992px;
    margin: 0 auto;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
  }

  .nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
  }
  
  .nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    width: max-content;
  }

  .nav .nav-menu .nav-menu-item ul{
      display: flex;
      flex-direction: column;
      list-style: none;
      position: absolute;
      background-color: brown;
      display: none;
  }
  
  .nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
  }
  .nav-menu-link .nav-link{
      text-align: center;
  }
  
  .nav-menu-link:hover,
  .nav-menu-link_active {
    background-color: rgb(90, 47, 47);
    transition: 0.5s;
  }

  .header .nav .nav-menu .nav-menu-item:hover > ul{
      display: block;
  }
    
.main {
        margin-left: 200px;
}
    h1{
        color:brown;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }
    h2{
        font-size: 20px;
        font-weight: lighter;
        text-align: center;
    }
    h3{
        font-size: 20px;
        font-family: var(--font-family-title);
        font-weight: normal;
    
    }  
    footer{
        
        font-family: var(--font-family-title);
        text-align: center;
    }


body#clases{
    font-family: var(--font-family-base);
}

#imagenpresentacion{
    max-width: 400px;
    align-content: center;
}
.container{
    display: grid;
    margin: 90px;
}

.box1{
    grid-column: auto;
    grid-row: 2/1;
}
.box2{
    margin-left: 5em;
}

.box3{
    display: grid;
    grid-gap: 40px;
}
.box31{
    background-color: #EAD3C7;
    border-radius: 15px;
    padding: 20px;
}

a.button {
    text-decoration: none;
    color: #EAD3C7;

}
    h1{
        color:brown;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }
    li{
       
        font-size:20px;
    }
    p{
        font-family: var(--font-family-title);
        text-align: left;
        font-size: 16px;
        margin-left: 60px;
        margin-right: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
.container img{
       inline-size: 100%;
}
    
body{
    background-image: url('..//Imágenes/fondobitacora.jpg');
    background-size: 100%;
}
